body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #0a0a0a;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

#header {
  width: 100%;
  height: 96px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name {
  color: #c7c7c7;
  font-weight: 400;
  margin-left: 3%;
}

.menu {
  margin-right: 3%;
}

.header-right {
  width: 207px;
  height: 24px;
  gap: 32px;
  size: 16px;
  line-height: 24px;
  color: #c7c7c7;
  display: flex;
  flex-direction: row;
}

.header-menu {
  display: none;
  width: 44px;
  height: 44px;
}

.text {
  line-height: 25px;
  color: #c7c7c7;
  margin: 0;
  flex-wrap: wrap;
}

/* ------- section1 ------- */

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding-inline: 10%;
  box-sizing: border-box;
}

.section1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-bottom: 6%;
}

.intro {
  display: flex;
  gap: 40px;
  flex-direction: column;
  width: 45%;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Ab {
  display: flex;
  flex-direction: column;
}

.ab {
  font-size: 90px;
  line-height: 90px;
  color: #ffffff;
  margin: 0;
}

.contact {
  width: 327px;
  height: 54px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.button {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  width: 187px;
  height: 54px;
  background: #d3e97a;
  display: flex;
  flex-direction: row;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.dott {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 6px;
}

.logo {
  width: 26px;
  height: 26px;
}

.icon {
  width: 54px;
  height: 54px;
  background-color: #222222;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-img {
  border-radius: 16px;
  width: 50%;
}

/* ---- line ----- */
.line {
  size: 0.5px;
  opacity: 0.3;
  width: 100%;
}

.section2 {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.work {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
}

.project-card {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  border-radius: 2%;
  width: 50%;
}

.tag {
  width:15%;
  top: 0;
  background-color: black;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 30px;
  color: white;
  padding: 1%;
}

.img {
  width: 80%;
  margin-bottom: 20%;
  margin-top: 10%;
  margin-inline: 10%;
}

.project-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-title-and-des{
  display: flex;
  flex-direction: column;
  gap: 4%;
}

.project-title {
  font-size: 2.5em;
  color: white;
}

.project-info {
  display: flex;
  flex-direction: column;
  color: white;
}

.sub-title {
  font-size: 1em;
  margin: 0;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.view-project {
  display: flex;
  flex-direction: row;
  gap: 7%;
}

.live-demo {
  width: 22%;
}

.see-on-github {
  width: 30%;
}

.title-and-arrow {
  display: flex;
  flex-direction: row;
  gap: 5%;
  align-items: start;
}

.view-text {
  font-size: 1em;
  color: #d3e97a;
  margin: 0;
}

.arrow {
  height: 12%;
  width: 12%;
}

.view-line {
  border: 1px solid #d3e97a;
}

.section3 {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}

.about-me {
  width: 50%;
}

/* ------------- media -----------  */

@media (min-width: 770px) {
  .header-right {
    display: flex;
  }
  .header-menu {
    display: none;
  }
  .name {
    font-size: 32px;
    line-height: 48px;
  }

  .section1 {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 769px) {
  .header {
    width: 100%;
  }

  .section1 {
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: center;
    align-items: center;
  }

  .ab {
    font-size: 57px;
    line-height: 57px;
  }

  .intro {
    width: 100%;
  }

  .intro-img {
    width: 100%;
    margin-top: 64px;
  }

  .header-right {
    display: none;
  }

  .header-menu {
    display: flex;
  }
  
  .name {
    font-size: 28px;
    line-height: 28px;
  }

  .work {
    display: flex;
    flex-direction: column;
  }

  .project-card {
      width: 100%;
  }

  .project-content {
    width: 100%;
  }

  .tag{
    width: 30%;
  }

  .arrow {
    width: 15%;
    height: 15%;
  }

  .see-on-github {
    width: 45%;
  }

  .live-demo {
    width: 30%;
  }
  
}
 
@media (max-width: 380px) {
  .contact {
    gap: 10px;
  }

  .icon {
    width: 45px;
    height: 45px;
  }

  .button {
    width: 170px;
    height: 45px;
  }
}
